@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: rgb(10, 10, 10);
  border-radius: 10px;
  margin-block: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(207, 207, 207);
  background: linear-gradient(360deg, rgb(183, 183, 183) 0%, rgb(206, 206, 206) 47%, rgb(219, 219, 219) 100%);
  border-radius: 10px;
}


body {
  color: #ededed;
  background: #0a0a0a;
  overflow-x: hidden; 
}


.rubik{
  font-family: var(--font-rubik);
}

.montserrat{
  font-family: var(--font-montserrat);
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@keyframes shine {
  from {
    background-color: #767676; /* Start with a bright color */
  }
  to {
    background-color: var(--secondarybg); /* Return to normal color */
  }
}

.shine {
  animation: shine 1s ease-in-out;
}
